<ion-content padding>
  <ion-grid>
    <br><br>
    <ion-row justify-content-center>
      <ion-col col-10>
         <img src="img/caritas.png" alt="">
      </ion-col>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <ion-col col-10 text-center>
          <h2>!Muy bien!</h2>
          <span class="txt-normal">Encontraste la respuesta</span>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-10 class="d-flex justify-content-center">
          <div class="burbuja">
            <span ion-text class="txt-correlativo">{{respuesta}}</span>
          </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <ion-col col-12 class="d-flex justify-content-center align-items-center">
         <div class="box-gold" *ngIf="!fin_juego" > 
            <img src="img/ico-coin.png" alt="" class="ico-coin" >
            <div class="d-flex flex-column ">
              <span>Ahora tienes:</span>
              <span class="txt-oro-actual">{{oro_actual}}</span>
            </div>
         </div>
         <div class="box-gold d-flex justify-content-center text-center" *ngIf="fin_juego">
           <h1>¡Felicidades has terminado el juego!</h1>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <ion-col col-12 class="d-flex justify-content-center align-items-center">
          <button ion-button round color="secondary" (click)="continuar()" *ngIf="!fin_juego" >Continuar</button>
          <button ion-button round color="secondary" (click)="continuar()" *ngIf="fin_juego">Ir al menu principal</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
