<ion-header>
  <ion-navbar color="primary" >
    <ion-title text-center>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br><br>
<ion-grid>
  <ion-row align-items-center justify-content-center>
    <ion-col col-11 text-center>
      <img src="img/logo.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row align-items-center justify-content-center>
    <ion-col col-12 text-center>
      <button ion-button round icon-end full color="secondary" (click)="ir_pagina('JuegoPage')">JUGAR
          <ion-icon name="ios-game-controller-b-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row align-items-center justify-content-center>
      <ion-col col-12 text-center>
        <button ion-button round icon-end full color="secondary" (click)="ir_pagina('NivelesPage')" >NIVELES
            <ion-icon name="ios-arrow-dropup-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row align-items-center justify-content-center>
        <ion-col col-12 text-center>
          <button ion-button round icon-end full color="secondary" (click)="ir_pagina('CanjearPage')" >CANJEAR MONEDAS
              <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
