<ion-header>
    <ion-navbar color="primary" >
      <ion-title text-center>
        CANJEAR
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="d-flex justify-content-center align-items-center">
        <div class="burbuja">
            <h4 ion-text class="txt-instruccion"> Por cada vez que compartes obtienes 50 de oro.</h4>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12 class="d-flex justify-content-center align-items-center">
        <img class="img-share" src="img/compartir.png" alt="">
      </ion-col>
    </ion-row> -->
    <br>
    <ion-row justify-content-center>
      <ion-col col-12 class="d-flex justify-content-center align-items-center">
          <div class="box-gold">
            <img src="img/ico-coin.png" alt="" class="ico-coin" >
            <span class="txt-oro-actual">{{oro_actual}}</span>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 class="d-flex justify-content-center align-items-center">
            <button ion-button color="secondary" icon-end round (click)="iniciar_compartir('fb')" >
              Facebook
              <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
            </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 class="d-flex justify-content-center align-items-center">
            <button ion-button color="secondary" icon-end round (click)="iniciar_compartir('tw')">
                Twitter
                <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
            </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 class="d-flex justify-content-center align-items-center">
            <button ion-button color="secondary" icon-end round (click)="iniciar_compartir('ws')">
                WhatsApp
                <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
            </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
