page-niveles {
    .nivel-container{
        font-size: 1.7em;
        text-align: center;
        padding: 5px 50px;
        color:  white;
        border-radius: 10px;
        transition: all 100ms;
    }
    .active {
        background-color: color($colors, terciario);
        border: 5px solid color($colors, terciario);
    }
    .seleccionado {
        background-color: color($colors, terciario);
        border: 5px solid color($colors, secondary);
    }
    .inactive {
        background-color: color($colors, dark);
        border: 5px solid color($colors, dark);
    }
}
