<ion-header>
  <ion-navbar color="primary" >
    <ion-title text-center>
      NIVELES
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid *ngIf="niveles.length > 1">
    <ion-row *ngFor="let item of niveles; let i = index" >
      <ion-col>
        <div class="nivel-container" 
        [class.seleccionado]="item.seleccionado"
        [class.active]="item.estado=='desbloqueado'"
        [class.inactive]="item.estado=='bloqueado'" 
        (click)="seleccionar(i)">
          {{item.nivel}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
