
<ion-header>
  <ion-navbar color="primary" >
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="text-white fuente-navbar" >
            <span>Adivinanzas</span>
        </ion-col>
        <ion-col col-6 class="d-flex justify-content-end text-white fuente-navbar">
            <span><span class="txt_oro">Oro:</span> {{oro}} </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-12 class="d-flex justify-content-start">
      <div class="burbuja">
        <span ion-text class="txt-correlativo"> Nivel {{nivel}} </span>
      </div>
      <!-- <div class="reloj">
          <span ion-text class="txt-reloj"> 00:00:00 </span>
        </div> -->
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col col-12>
      <div class="burbuja-cuadrado">
          <h3 class="no-margin-titulo">{{pregunta}}</h3>
      </div>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col col-12>
      <div class="contenedor-inputs d-flex justify-content-start" *ngIf="letras_respuesta.length > 0 ">
          <div class="input-letra d-flex justify-content-center align-items-center" 
          *ngFor="let letra of letras_respuesta; let i = index;"
          [class.activo-input]="letra.estado=='activo'"
          [class.oculto]="letra.espacio"
          [class.activo-pista]="letra.estado=='activo-pista'"
          [class.inactivo-input]="letra.estado=='inactivo'"
          (click)="regresar_letra(i)" >
            {{letra.letra}}
          </div>
      </div>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col col-12 class="d-flex justify-content-center">
      <div class="teclado d-flex" *ngIf="teclado_resp.length > 0 ">
          <div class="teclado-letra" 
          *ngFor="let letra of teclado_resp; let i = index;"
          [class.activo-teclado]="letra.estado=='activo'"
          [class.inactivo-teclado]="letra.estado=='inactivo'"
          (click)="asignar_letra(i)">
            {{letra.letra}}
          </div>
      </div>
    </ion-col>
  </ion-row>
  <br><br>
  <ion-row *ngIf="pista_txt" >
    <ion-col col-12 class="d-flex justify-content-center">
        <span ion-text >
          {{pista_texto}}
        </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="d-flex justify-content-center flex-column">
      <button ion-button round  icon-end color="secondary" (click)="compartir_adivinanza()" >¡Reta a un amigo!
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button round outline (click)="mostrar_opciones_pista()" >Pista</button>
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>
