page-juego {
    .txt-correlativo{
        font-size: 1.2em;
    }
    .text-white {
        color: white;
    }
    .fuente-navbar {
        font-size: 1.3em;
    }
    ion-content {
        background: white url("#{$img-path}bg_adivinanza.png") repeat center center ;
    }
    
    .burbuja-cuadrado {
        padding: 10px 20px;
        background-color: color($colors,secondary);
        color: white;
        border-radius: 5px;
    }
    .contenedor-inputs{
        flex-wrap: wrap;
    }
    .input-letra{
        width: 30px;
        height: 30px;
        border: 2px solid color($colors, primary);
        border-radius: 5px;
        font-weight: 600;
        text-align: center;
        font-size: 1.4em;
        margin: 5px 5px;
        box-shadow: 0px 0px 10px -1px black;
    }
    .teclado {
        width: 100%;
        max-width:400px;
        flex-wrap: wrap;
    }
    .txt_oro{
        color: yellow;
    }
    .oculto {
        opacity: 0 !important;
    }
    .teclado-letra {
        font-size: 1.4em;
        color:white;
        border: 1px solid white;
        width: 16.6%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 100ms;
    }
    .activo-pista{
        background-color: color($colors,secondary);
        border: 2px solid color($colors, secondary) !important;
        color: white;
    }
    .activo-input {
        background-color: color($colors,primary);
        color: white;
    }
    .inactivo-input {
        background-color: white;
    }
    .inactivo-teclado{
        opacity: 0;
    }
    .activo-teclado{
        opacity: 1;
        background-color: color($colors,primary);
    }
    .pista_oculta {
        width: 0px;
    }
    .pista_mostrar{

    }
}
