.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.no-margin-titulo{
    margin-bottom: 0px;
}
.flex-column {
    flex-direction: column;
}
.text-center {
    text-align: center
}
.burbuja {
    padding: 10px 20px;
    background-color: color($colors,terciario);
    color: white;
    border-radius: 20px;
}
.txt-oro-actual {
    font-size: 1.9em;
    font-weight: 600;
}
.box-gold {
    width: 70%;
    max-width: 300px;
    background-color: color($colors,primary);
    border-radius: 10px;
    padding: 20px 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.ico-coin {
    max-width: 65px;
    height: auto;
}